/* 基础样式 */
/* 教育、经验、项目、证书区块的共通样式 */
.resumepage {
  font-size: 1.2rem;
}

.education,
.experience {
  background-color: #f7f7f7;
  padding: 20px;
  border-left: 4px solid #3498db;
  margin: 20px 0;
  border-radius: 5px;
}

.experience h3 {
  position: relative; /* 为<span>设置定位上下文 */
  display: block; /* 确保h3是块级元素 */
  width: 100%; /* 确保h3元素占满其容器的全部宽度 */
  margin-bottom: 10px; /* 为标题下方留出空间 */
}

.experience .location {
  position: absolute; /* 绝对定位<span> */
  right: 0; /* 将<span>对齐到右侧 */
  top: 0; /* 将<span>对齐到顶部 */
  color: red; /* 设置颜色 */
  font-size: 0.8em; /* 调整字体大小 */
}

.education h2,
.experience h2 {
  color: #333;
  margin-bottom: 15px;
}

.education p,
.experience p {
  color: #666;
  line-height: 1.6;
}

.education strong,
.experience strong {
  color: #3498db;
  font-weight: bold;
}

/* 项目部分的样式 */
.projects {
  margin: 20px 0;
}

.projects h2 {
  color: #333;
  margin-bottom: 15px;
}

.projects ul {
  list-style: circle inside;
  padding-left: 20px;
}

.projects a {
  color: #0056b3;
  text-decoration: none;
}

.projects a:hover {
  text-decoration: underline;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .section {
    padding: 0 15px;
  }
}

/* 证书部分 */
.Certifications {
  margin: 20px 0;
}

.Certifications ul {
  list-style: none;
  padding: 0;
}

.Certifications li {
  background: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.Certifications a {
  color: #0056b3;
  text-decoration: none;
}

.Certifications a:hover {
  text-decoration: underline;
}
